<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main})}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

  <title th:text="#{listar.title}"></title>
</head>
<body>

<main class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 th:text="#{listar.header}"></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <div th:if="${#lists.isEmpty(clientes)}" th:text="#{listar.table.vazia}" class="alert alert-danger" role="alert">
        
      </div>

      <table class="table" th:unless="${#lists.isEmpty(clientes)}">
        <thead>
          <tr>
            <th th:text="#{listar.table.col.id}" scope="col"></th>
            <th th:text="#{listar.table.col.nome}"scope="col"></th>
            <th th:text="#{listar.table.col.dataNascimento}"scope="col"></th>
            <th th:text="#{listar.table.col.profissao}" scope="col"></th>
            <th th:text="#{listar.table.col.acoes}" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="cliente : ${clientes}">

            <th scope="row" 
            th:text="${cliente.id}">
           </th>

            <td>
              <a 
              th:text="${cliente.nome}"
              th:href="@{/cliente/{id} (id=${cliente.id})}"></a>
            </td>

            <td th:text="${#temporals.format(cliente.dataNascimento, 'dd/MM/yyyy')}"></td>

            <td th:text="${cliente.profissao}"></td>
            <td>
              <a
              th:href="@{/cliente/{id}/editar (id=${cliente.id})}" 
              class="btn btn-warning"
              th:text="#{listar.table.acao.editar}">
              
            </a>

              <a 
              th:href="@{/cliente/{id}/excluir (id=${cliente.id})}" 
              class="btn btn-danger"
              onclick="return confirm('Tem certeza que deseja excluir o cliente?');"
              th:text="#{listar.table.acao.excluir}">
              
              
            </a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="div col-sm-12">
      <a th:text="#{listar.table.acao.cadastrar}" href="/cliente/cadastrar" class="btn btn-primary"></a>
    </div>
  </div>

</main>

</body>
</html>